{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Try-On</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
      let shirtImages = {{ images | safe }}
      console.log(shirtImages , "[[[[[[[[[[]]]]]]]]]]")
    </script>
</head>
<body>
    <div class="try-on-container">
        <video style="display: none;" id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas" width="1000" height="640" ></canvas>
    </div>
    <button onclick="changeShirt(-1)">Prev</button>
    <button onclick="changeShirt(1)">Next</button>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script src="{% static 'js/try_on.js' %}"></script>
</body>
</html>
